#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
}
#loader {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  border: 4px solid #464646;
  top: 50%;
  left:50%;
  margin: -20px 0 0 -20px;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #2d2d2d;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/*______________________ Global stlye ___________________*/

 body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #212529;
  font-size: 16px;
  position: relative;
 }
 body,.main-page-wrapper {overflow-x:hidden;min-height: 100vh;}
 h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
 h1,h2,h3,h4,h5,h6 {color: #3a3939; font-family: 'K2D', sans-serif;}
 h1 {font-size: 2.5rem; font-weight: 500;}
 h2 {font-size: 2rem; font-weight: 500;}
 h3 {font-size: 1.75rem; font-weight: 500;}
 h4 {font-size: 1.5rem;; font-weight: 500;}
 p {line-height: 28px;}
 ul {list-style-type: none;}
 body a {text-decoration: none; display: inline-block; color: #ff7657}
 a:hover,a:focus,a:visited {text-decoration: underline ; outline: none; color: #771e0a}
 img {max-width: 100%; display: block;}

body .button--wayra {
  min-width: 160px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  line-height: 45px;
  background: #fff;
  z-index: 1;
  text-align: center;
  border: 2px solid #313131;
  color: #313131;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

body .button--wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
body .button--wayra:hover {color: #fff;}
body .button--wayra:hover::before {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
/*-------------------- Title ---------------*/
.theme-title {font-size: 55px;padding-bottom: 35px;position: relative;}
.inner-title {font-size: 28px;padding-bottom: 10px;}
/*----------------------- Aside Navigation Menu --------------------- */
#aside-nav-wrapper {
  position: fixed;
  height: 100%;
  top:0;
  left:0;
  width: 250px;
  max-height: 100vh;
  overflow-y: auto;
  background: #26262d;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

#aside-nav-wrapper.show {transform: translateX(0);}
#aside-nav-wrapper .logo {display: block; margin-bottom: 40px;margin-top: 40px}
#aside-nav-wrapper .logo img {width: 80%;  margin-left: auto;  margin-right: auto; }
#theme-menu-list ul {padding-left: 50px;}
#theme-menu-list ul li a {
  font-family: 'K2D', sans-serif;
  font-size: 25px;
  text-transform: capitalize;
  color: rgba(255,255,255,0.95);
  display: block;
  padding: 15px 0;
  position: relative;
  transition: all 0.4s ease-in-out;
}

#theme-menu-list ul li:last-child a {border:none;}
#theme-menu-list ul li a .icon {
  display: none;
  position: absolute;
  top:5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

#theme-menu-list ul li a:before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  left:-15px;
  top:50%;
  margin-top: -1px;
  transition: all 0.4s ease-in-out;
}

#theme-menu-list ul li a.active:before {width: 30px;}
#theme-menu-list ul li a.active {padding-left: 25px;}
#aside-nav-wrapper .cv-button {
  padding: 8px 0;
  display: block;
  text-align:center;
  font-size: 16px;
  background: rgba(0,0,0,0.1);
  position: absolute;
  bottom: 30px;
  left:15px;
  right: 15px;
}
/*--------------------------- Main Page ------------------------*/
#main-page {
  position: relative;
  height: 100%;
  margin-left: 250px;
}
#main-page section {
  height: 100%;
  position: relative;
}
#main-page section .main-wrapper-bg {padding: 80px 15px;}
#main-page .theme-container {max-width: 1170px;margin: 0 auto;}

/*----------------------------- Home -----------------------*/
#main-page section#home {
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
}
#home.bg-hero:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background: rgba(38,38,45,0.7);
}
#home.bg-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main-page section#home .partical-bg {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#main-page section#home .main-wrapper {
  position: relative;
  top:50%;
  z-index: 99;
  transform: translateY(-50%);
}
#main-page section#home .img-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  border:6px solid rgba(0,0,0,0.22);
  margin: 0 auto;
}
#main-page section#home .img-box:before {
  content: '';
  position: absolute;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  top: -12px;
  left: -12px;
  border-radius: 50%;
  border:6px solid rgba(0,0,0,0.12);
}
#main-page section#home .user-img {width: 100%;border-radius: 50%;}
#main-page section#home .main-wrapper h1 {margin: 30px 0 15px; color: #fff;}
#main-page section#home .main-wrapper p {
  font-size: 25px;
  color: #fff;
}
#main-page section#home .main-wrapper h4 {
  display: inline-block;
  padding: 0 12px;
  line-height: 35px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 55px;
}
#main-page section#home .main-wrapper .cd-headline {position: relative;display: inline-block;padding: 0 10px;}
#main-page section#home .main-wrapper .cd-headline:after {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
}
#main-page section#home .main-wrapper .cd-headline:last-child:after {display: none; }
#main-page section#home .main-wrapper .social-icon li {display: inline-block;}
#main-page section#home .main-wrapper .social-icon li a {
  display: block;
  margin: 0 18px;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#about .about-block  p {
  line-height: 38px;
  padding-bottom: 70px;
  font-family: 'K2D', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.text ul {
  margin-left:20px;
  list-style-type: disc;
}

#about .about-block .text p .name {font-weight: 400;}
#about .about-block .text p .cd-words-wrapper b {color: #333; font-weight: 500;}
#about .about-block .text p a {
  color: #333333;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
#about .about-block .profile-list {margin: 0 -15px;}
#about .about-block .profile-list li {
  float: left;
  width: 50%;
  padding: 0 15px;
  margin-bottom: 25px;
}
#about .about-block .profile-list li span {color: #333;font-weight: 700;padding-right: 5px;}
#about .about-block .profile-list li a {color: #777;}
#about .about-block .my-img {width: 100%;}
#about .about-block .theme-btn {margin-top: 30px;}
#about .about-block .cv-button {display: none;}

.qualification-block .single-block {
  border: 1px solid rgba(26,26,26,0.07);
  border-left-width: 6px;
  border-radius: 5px 0 0 5px;
  padding: 40px 55px 40px 40px;
  margin-top: 35px;
}
.qualification-block .single-block .title {text-transform: capitalize;}
.qualification-block .single-block span {display: block;font-size: 14px;padding: 3px 0 18px;}


.theme-footer {background: #26262d;padding: 50px 0;text-align: center;color: #fff;}


/* scrolldown link */
.scrolldown a {  
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  z-index: 3;
  border-radius: 100%;
  -webkit-animation: updown .5s linear 1s infinite alternate; /* Chrome, Safari, Opera */
  animation: updown .5s linear 1s infinite alternate;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.scrolldown a:hover { color: #ff7657; }

#go-top {
  text-align: center;
  position: relative;
	top: -80px;
  left: 50%;
  margin-left: -30px;
}
#go-top a {
  position: absolute;
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);

	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: #fff;
  font-size: 21px;
  line-height: 46px;
 	border-radius: 100%;
}

#go-top a:hover { background-color: #ff7657; }

/* Chrome, Safari, Opera */
@-webkit-keyframes updown {
  from {-webkit-transform: scale(1); bottom: 90px;}
  to {-webkit-transform: scale(1.2); bottom: 75px;}
}

/* Standard syntax */
@keyframes updown {
  from {transform: scale(1); bottom: 85px;}
  to {transform: scale(1.2); bottom: 72px;}
} 